body {
	margin: 0;
	background-color: black;
	font-family: Helvetica, sans-serif;
	font-size: 22px;
}

/* Fixed header always on top */
header {
	display: flex;
	background-color: black;
	border-bottom: 1px solid seashell;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 69px;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-around;
	flex-grow: 0.05;
}

a {
	color: seashell;
}

/* logo styling */
.logo {
	display: flex;
	padding-left: 10px;
	flex-grow: 1;
}

.logo img {
	max-height: 50px;
}

#main-content {
	display: flex;
	justify-content: center;
	align-items: space-between;
	flex-wrap: wrap;
	padding-top: 69px;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	opacity: 0.9;
}

#mission {
	display: flex;
	background-image: url("../images/img-mission-background.jpg");
	color: seashell;
	height: 700px;
	max-width: 1200px;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.statement {
	background-color: black;
	width: 100%;
	text-align: center;
}

#featured {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: seashell;
	width: 1000px;
	text-align: center;
	padding-top: 40px;
}


#featured .teas {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#featured .item {
	display: flex;
	flex-direction: column;
	width: 300px;
	padding: 10px 15px;
}

#featured h4 {
	margin: 15px auto;
}

#featured img {
	height: 200px;
	width: 300px;
}